body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.calculator {
  background-color: black;
  border: 20px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 100 100 10px rgb(0,0,0);
}

.calculator #display {
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 30px;
}

.calculator .keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator .keys button {
  padding: 15px;
  font-size: 18px;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
}

.calculator .keys button:hover {
  background-color: #d0d0d0;
}
